/* Keyframes for background panning animation */
@keyframes bgPan {
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: 100% 50%;
    }
}

body {
    background-image: url('/static/images/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
    animation: bgPan 30s linear infinite;
}

header {
    background-color: rgba(174, 135, 108, 0.8);
    color: white;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.header-content nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.header-content nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-content nav ul li {
    margin: 0 10px;
}

.header-content nav ul li a {
    color: white;
    text-decoration: none;
}

.welcome {
    flex-shrink: 0;
}

.profile {
    position: relative;
    flex-shrink: 0;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#profile-menu {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1000;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: rgba(174, 135, 108, 0.8);
}

#profile-menu:checked ~ .dropdown-content {
    display: block;
}

.section-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align all content horizontally */
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.book {
    background-color: rgba(174, 135, 108, 0.8);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 450px;
    transition: transform 0.3s ease;
}

.book img {
    width: 80%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.book-details h3 {
    margin: 10px 0;
}

.book-details p {
    margin: 5px 0;
}

.book:hover {
    transform: scale(1.05);
}

.rent-button {
    display: block;
    margin: 20px auto; /* Center the button horizontally */
    padding: 10px 20px;
    background-color: rgba(174, 135, 108, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* Ensure the text is centered */
}
